body {
  /*background: #fafafa;*/
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #444;
  color: #aaa;
  margin: 0;
}
a{
  cursor: pointer;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.topbar{
  width: 100%;
  background-color: #000;
  height:60px;
  position: relative;
  /*padding:0 0 0 25px;*/
}
.topbar .title{
  font-family: 'Londrina Outline', 'Cutive Mono', 'Exo 2', sans-serif;
  width:110px;
  font-weight: 800;
  color:#F0C400;
  font-size: 24px;
}
.tagline{
  font-size: 12px;
  font-family: 'Exo 2', sans-serif;
  padding-top:15px;
  color: #eee;
}
.settings{
  font-size: 16px;
  color: #fff;
}
.settings img{
  vertical-align: middle;
  margin-left: 75px;
}
.group{
  padding:10px 0 0 0;
  margin-left: 20px;
}
/*  HELPER */
.inline{
  display: inline-block;
}
.left{
  float: left;
}
.right{
  float: right;
}
.clearfix{
  clear: both;
}
.hide{
  display: none;
}
.colored{
  color:#EB5200;
}
.coloredblue{
  color:rgb(0, 173, 255);
}
.divider{
    border-left: 1px solid #666;
    width: 0px;
    height: 100%;
    position: absolute;
    margin: 0 20px;
}
.margin{
  margin:0 20px;
}
.arr{
  font-size: 16px;
  font-weight: bold; 
}
.cur{
  vertical-align: middle;
  font-weight: bold;
}
.mainchart{
  width: 100%;
  height: 350px;
}